/* Buat Center Logo */
body {
    height: 768px;
    background-color: black;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: Animasi1 ease 1s;
  }
  
  /* Logo YT */
  .Yutup {
    position: absolute;
    background-color: #ff0000;
    width: 460px;
    height: 276px;
    border-radius: 38px / 115px;
    transition: 0.8s;
    opacity: 0.6;
    transform: scale(40%);
  }
  
  .Yutup:before {
    content: "";
    position: absolute;
    background-color: #ff0000;
    width: 407px;
    height: 309px;
    border-radius: 184px / 23px;
    left: 26px;
    bottom: -16px;
  }
  
  .Yutup:after {
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 61px 0 61px 115px;
    border-color: transparent transparent transparent #fff;
    left: 188px;
    bottom: 76px;
  }
  
  /* ANIMASI */
  .Yutup:hover{
    opacity: 1;
    transform: scale(45%);
  }

  @keyframes Animasi1 {
    0% {
        opacity: 0;
        transform: scale(0%);
    }

    60%{
      opacity: 1;
      transform: scale(120%);
    }
    100% {
        opacity: 1;
        transform: scale(100%);
    }

}
